* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
p {
    font-size: 2rem;
}
body {
    background: #204d67;
    font-family: 'Titillium Web', sans-serif;
}
nav {
    height: 50px;
    background-color: #dadede;
    text-align: center;
    line-height: 50px;
}
nav li {
    display: inline-block;
    /*background-color: bisque;*/
}
nav li a {
    padding: 0 50px;
    color: #204d67;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    transition: text-shadow .9s;
}
nav li a:hover {
    /*color: #06007a;*/
    text-shadow: 5px 5px 10px #030c5f;
}
/* HEADER */
h1 {
    font-size: 5rem;
}
.header-img {
    position: relative;
    height: 260px;
    background-image: url("../img/header-bkg.jpg");
    background-position: 50% 55%;
    background-repeat: no-repeat;
}
.header-text {
    position: absolute;
    text-shadow: 5px 5px 5px #030e3c;
    color: #b5b5b5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);

}
/* MAIN */
main {
    width: 60%;
    margin: 50px auto;

}
h2 {
    font-size: 3rem;
    color: #bababa;
}
.about-us-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
section {
    margin: 40px;
}
.about-us-section {
    position: relative;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.top {
    background-image: url("../img/teapot-6123746_1920.jpg");
}
.middle {
    background-image: url("../img/bridge-5624104_1920.jpg");
}
.bottom {
    background-image: url("../img/concert-5878452_1920.jpg ");
}
.about-us-text {
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    color: #bababa;
    text-align: center;
    z-index: 1;
}
.about-us-text h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 2rem;
}
.about-us-bg {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    height: 60%;
    width: 100%;
    border-bottom-right-radius: 50px;
}
/* FOOTER */
footer {
    height: 80px;
    line-height: 80px;
    color: #a0968d;
    background-color: #16242b;
    text-align: center;
}
.foot-ico {
    margin-left: 50px;
}
.foot-ico i{
    padding: 5px;
    font-size: 30px;
    transition: color .3s;
    color: #a0968d;
}
.foot-ico i:hover {
    color: #204d67;
}