@import "src/sass/colors";
@font-face {
  font-family: 'icomoon';
  src:  url('../../deprecated/baza/fonts/icomoon.eot?y1z0z7');
  src:  url('../../deprecated/baza/fonts/icomoon.eot?y1z0z7#iefix') format('embedded-opentype'),
  url('../../deprecated/baza/fonts/icomoon.ttf?y1z0z7') format('truetype'),
  url('../../deprecated/baza/fonts/icomoon.woff?y1z0z7') format('woff'),
  url('../../deprecated/baza/fonts/icomoon.svg?y1z0z7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swirl:before {
  content: "\e900";
  color: $nav-text;
}
