/*Large devices (desktops, 992px and up)*/

/* HEADER */

.header-text h1 {
    transition: all 10s ease-in-out;
}

.header-text h1:hover {
    transform: scale(1.9);
}

.header-img {
    background-image: url("../img/coffee-1276784.jpg");
    background-position: 20% 40%;
}

.header-text {
    left: 40%;
}
