/*Medium devices (tablets, 768px and up)*/

/* HEADER */

.header-text h1 {
    font-size: 5rem;
}

.header-text p {
    font-size: 2rem;
}
/* NAV */

.nav-mobile {
    display: none;
}

.nav-desktop {
    display: block;
}

.nav-desktop li {
    list-style: none;
    display: inline-block;
}

.nav-desktop li a {
    font-size: 1.2rem;
    padding: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #563d21;
    transition: color .3s, text-shadow .3s;

}

.nav-desktop li a:hover {
    color: #000000;
    text-shadow: 5px 5px 10px #5f1d03;
}