/* Small devices (landscape phones, 576px and up)*/

/* HEADER */

.header-img {
    background-image: url("../img/coffee-1276784_1280.jpg");
    background-position: 30% 50%;
}
.header-text p {
    font-size: 1.5rem;
}