* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Monda', sans-serif;
    font-size: 10px;
}

.underline {
    position: relative;
}

.line {
    position: absolute;
    left: calc(50% - 60px);
    bottom: -3px;
    width: 120px;
    height: 4px;
    background-color: #301f16;
}
/* MAIN */
html {
    background: linear-gradient(to bottom, #dea564 0%, #b28b5c 100%);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.about-us {
    padding: 10px;
    font-size: 1rem;
    text-align: justify;
    margin: 30px 0;
    color: #432e19;
}

.about-us h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.main-product {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;

}

.product {
    font-size: 0;
}
.product-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    color: #ffdfbf;
    text-shadow: 5px 5px 10px #000000;
}

.product-text h3 {
    font-size: 7rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.product-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.first-product {
    background-image: url("../img/blonde-650.jpg");
}

.second-product {
    background-image: url("../img/books-650.jpg");
}

.third-product {
    background-image: url("../img/breakfast-650.jpg");
}

.fourtx-product {
    background-image: url("../img/luggage-650.jpg");
}

.contact {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
}
.contact h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}
.contact h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}
/* HEADER */

.header-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.header-img {
    position: relative;
    height: 330px;
    background-image: url("../img/coffee-1276784_640.jpg");
    background-position: 20% 100%;
    background-repeat: no-repeat;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffdfbf;
    text-shadow: 5px 5px 10px #301f16;
}

.header-text h1 {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header-text p {
    font-size: 1.5rem;
    text-align: left;
    text-transform: capitalize;
}
/* NAV */

nav {
    height: 60px;
    line-height: 60px;
    background: linear-gradient(to bottom, #C19A6B 0%, #B28B5C 100%);
    text-align: center;
    overflow: hidden;
}

.nav-mobile {
    margin-right: 100%;
}

.nav-mobile button {
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    background: none;
    border: none;
}

.nav-desktop {
    display: none;
}

/*FOOTER*/

footer {
    height: 80px;
    background-color: #92764e;
    line-height: 80px;
    font-size: 10px;
    text-align: center;

}